@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* variable */
:root {
    --dark-color: rgb(84, 84, 84);
}

/*Start Global class*/

.hidden {
    display: none;
}

/*end Global class*/

body {
    height: 100vh;
    background-image: linear-gradient(-40deg , #763681 0%,  #be2e35 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    button {
        font-size: 20px;
        padding: 12px 20px;
        border: none;
        border-radius: 50px;
        color: var(--dark-color);
        background-color: rgba(255, 255, 255, 0.6);
        box-shadow: 0 5px 20px 0px #0000003c;
        cursor: pointer;
        transition: all .3s;
        position: relative;

        &:active {
            transform: translateY(2px);
        }
    }

    .new-game {
        bottom: 50px;
    }

    .roll-dice {
        top: 105px;
    }

    .hold {
        bottom: 15px;
    }

    div {
        position: absolute;
        top: 29%;
        display: grid;
        place-items: center;
        width: 100px;
        height: 100px;
        box-shadow: 0 5px 30px 0px hsl(0, 0%, 0%, .3);
        
        img{
            position: absolute;
        }
    }
}

main {
    width: 65rem;
    height: 37rem;
    background-image: linear-gradient(-40deg, #b67a9b 0%,#cb7886 100%);
    display: flex;
    border-radius: 10px;
    box-shadow: 0px 5px 50px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    
    section {
        flex: 50%;
        padding: 80px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        transition: all .85s;

        h2 {
            font-size: 40px;
            font-weight: 300;
            margin-bottom: 10px;
        }

        .score {
            font-size: 80px;
            margin-bottom: 120px;
            color: #c7365f;
        }

        .current {
            background-color: #c7365f;
            padding: 20px 60px;
            color: #dbdbdb;
            border-radius: 10px;

            p {
                font-size: 17px;
                margin-bottom: 15px;
            }

            span {
                display: block;
                text-align: center;
                font-size: 35px;
            }
        }
    }

    .ply1 {
        border-radius: 10px 0 0 10px;
    }
    .ply2 {
        border-radius:  0 10px 10px 0;
    }
}


.active-player {
    background-color: rgba(255, 255, 255, 0.4);
    & :is(h2) {
        font-weight: 600;
    }
}

.player-winner {
    background-color: #2f2f2f;
    & :is(h2) {
        color: #c7365f;
        font-weight: 600;
    }
}



